body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1909px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1909px;
  height:744px;
}
#u1209 {
  position:absolute;
  left:0px;
  top:0px;
  width:1909px;
  height:744px;
}
#u1210 {
  position:absolute;
  left:2px;
  top:364px;
  width:1905px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:33px;
}
#u1212 {
  position:absolute;
  left:1639px;
  top:149px;
  width:119px;
  height:33px;
  color:#FFFFFF;
}
#u1213 {
  position:absolute;
  left:2px;
  top:8px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u1214 {
  position:absolute;
  left:1642px;
  top:156px;
  width:24px;
  height:20px;
}
#u1215 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u1216 {
  position:absolute;
  left:1664px;
  top:158px;
  width:92px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u1217 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1449px;
  height:34px;
}
#u1219 {
  position:absolute;
  left:403px;
  top:225px;
  width:1449px;
  height:34px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:9px;
  width:1445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:35px;
}
#u1221 {
  position:absolute;
  left:395px;
  top:224px;
  width:341px;
  height:35px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:10px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1223 {
  position:absolute;
  left:755px;
  top:228px;
  width:45px;
  height:27px;
  font-size:12px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
#u1225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1225 {
  position:absolute;
  left:911px;
  top:229px;
  width:24px;
  height:22px;
  font-size:12px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u1227 {
  position:absolute;
  left:1862px;
  top:227px;
  width:41px;
  height:26px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:5px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_ann {
  position:absolute;
  left:1896px;
  top:223px;
  width:1px;
  height:1px;
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1229 {
  position:absolute;
  left:1679px;
  top:229px;
  width:24px;
  height:22px;
  font-size:12px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u1231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
}
#u1231 {
  position:absolute;
  left:1529px;
  top:227px;
  width:49px;
  height:25px;
}
#u1232 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:19px;
}
#u1233 {
  position:absolute;
  left:1354px;
  top:231px;
  width:131px;
  height:19px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:2px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u1235 {
  position:absolute;
  left:1201px;
  top:223px;
  width:51px;
  height:30px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:7px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1237 {
  position:absolute;
  left:1063px;
  top:229px;
  width:41px;
  height:22px;
  font-size:12px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  word-wrap:break-word;
}
#u1239 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u1240 {
  position:absolute;
  left:232px;
  top:227px;
  width:25px;
  height:26px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:11px;
  background:inherit;
  background-color:rgba(245, 160, 55, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u1242 {
  position:absolute;
  left:239px;
  top:236px;
  width:12px;
  height:11px;
  font-size:11px;
  color:#FFFFFF;
}
#u1243 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  word-wrap:break-word;
}
