body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1910px;
  height:910px;
}
#u2211 {
  position:absolute;
  left:0px;
  top:0px;
  width:1910px;
  height:910px;
}
#u2212 {
  position:absolute;
  left:2px;
  top:447px;
  width:1906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2213 {
  position:absolute;
  left:1253px;
  top:289px;
  width:71px;
  height:16px;
}
#u2214 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2215 {
  position:absolute;
  left:1259px;
  top:377px;
  width:57px;
  height:16px;
}
#u2216 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:36px;
}
#u2217 {
  position:absolute;
  left:1251px;
  top:310px;
  width:489px;
  height:36px;
}
#u2218 {
  position:absolute;
  left:2px;
  top:10px;
  width:485px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
}
#u2219 {
  position:absolute;
  left:1429px;
  top:310px;
  width:42px;
  height:36px;
}
#u2220 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:53px;
}
#u2221 {
  position:absolute;
  left:1471px;
  top:302px;
  width:268px;
  height:53px;
}
#u2222 {
  position:absolute;
  left:2px;
  top:18px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:39px;
}
#u2223 {
  position:absolute;
  left:1254px;
  top:399px;
  width:218px;
  height:39px;
}
#u2224 {
  position:absolute;
  left:2px;
  top:12px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225 {
  position:absolute;
  left:1258px;
  top:313px;
  width:212px;
  height:31px;
}
#u2225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2225_input:disabled {
  color:grayText;
}
#u2225_ann {
  position:absolute;
  left:1463px;
  top:309px;
  width:1px;
  height:1px;
}
#u2226 {
  position:absolute;
  left:1260px;
  top:404px;
  width:205px;
  height:29px;
}
#u2226_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2226_input:disabled {
  color:grayText;
}
#u2226_ann {
  position:absolute;
  left:1458px;
  top:400px;
  width:1px;
  height:1px;
}
