body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1266px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22 {
  position:absolute;
  left:90px;
  top:54px;
  width:1181px;
  height:876px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:36px;
}
#u25 {
  position:absolute;
  left:98px;
  top:0px;
  width:168px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
}
#u27 {
  position:absolute;
  left:266px;
  top:0px;
  width:146px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:36px;
}
#u29 {
  position:absolute;
  left:412px;
  top:0px;
  width:417px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:413px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u31 {
  position:absolute;
  left:829px;
  top:0px;
  width:73px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u33 {
  position:absolute;
  left:902px;
  top:0px;
  width:86px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u35 {
  position:absolute;
  left:988px;
  top:0px;
  width:188px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u37 {
  position:absolute;
  left:0px;
  top:36px;
  width:98px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u39 {
  position:absolute;
  left:98px;
  top:36px;
  width:168px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u41 {
  position:absolute;
  left:266px;
  top:36px;
  width:146px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:30px;
}
#u43 {
  position:absolute;
  left:412px;
  top:36px;
  width:417px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u45 {
  position:absolute;
  left:829px;
  top:36px;
  width:73px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u47 {
  position:absolute;
  left:902px;
  top:36px;
  width:86px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u49 {
  position:absolute;
  left:988px;
  top:36px;
  width:188px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u51 {
  position:absolute;
  left:0px;
  top:66px;
  width:98px;
  height:36px;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:36px;
}
#u53 {
  position:absolute;
  left:98px;
  top:66px;
  width:168px;
  height:36px;
  text-align:left;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
}
#u55 {
  position:absolute;
  left:266px;
  top:66px;
  width:146px;
  height:36px;
  text-align:left;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:36px;
}
#u57 {
  position:absolute;
  left:412px;
  top:66px;
  width:417px;
  height:36px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:413px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u59 {
  position:absolute;
  left:829px;
  top:66px;
  width:73px;
  height:36px;
}
#u60 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u61 {
  position:absolute;
  left:902px;
  top:66px;
  width:86px;
  height:36px;
}
#u62 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u63 {
  position:absolute;
  left:988px;
  top:66px;
  width:188px;
  height:36px;
}
#u64 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:148px;
}
#u65 {
  position:absolute;
  left:0px;
  top:102px;
  width:98px;
  height:148px;
}
#u66 {
  position:absolute;
  left:2px;
  top:66px;
  width:94px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:148px;
}
#u67 {
  position:absolute;
  left:98px;
  top:102px;
  width:168px;
  height:148px;
  text-align:left;
}
#u68 {
  position:absolute;
  left:2px;
  top:66px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:148px;
}
#u69 {
  position:absolute;
  left:266px;
  top:102px;
  width:146px;
  height:148px;
  text-align:left;
}
#u70 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:148px;
}
#u71 {
  position:absolute;
  left:412px;
  top:102px;
  width:417px;
  height:148px;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:16px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:413px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:148px;
}
#u73 {
  position:absolute;
  left:829px;
  top:102px;
  width:73px;
  height:148px;
}
#u74 {
  position:absolute;
  left:2px;
  top:66px;
  width:69px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:148px;
}
#u75 {
  position:absolute;
  left:902px;
  top:102px;
  width:86px;
  height:148px;
}
#u76 {
  position:absolute;
  left:2px;
  top:66px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:148px;
}
#u77 {
  position:absolute;
  left:988px;
  top:102px;
  width:188px;
  height:148px;
}
#u78 {
  position:absolute;
  left:2px;
  top:66px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:68px;
}
#u79 {
  position:absolute;
  left:0px;
  top:250px;
  width:98px;
  height:68px;
}
#u80 {
  position:absolute;
  left:2px;
  top:26px;
  width:94px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:68px;
}
#u81 {
  position:absolute;
  left:98px;
  top:250px;
  width:168px;
  height:68px;
  text-align:left;
}
#u82 {
  position:absolute;
  left:2px;
  top:26px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:68px;
}
#u83 {
  position:absolute;
  left:266px;
  top:250px;
  width:146px;
  height:68px;
  text-align:left;
}
#u84 {
  position:absolute;
  left:2px;
  top:26px;
  width:142px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:68px;
}
#u85 {
  position:absolute;
  left:412px;
  top:250px;
  width:417px;
  height:68px;
}
#u86 {
  position:absolute;
  left:2px;
  top:26px;
  width:413px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:68px;
}
#u87 {
  position:absolute;
  left:829px;
  top:250px;
  width:73px;
  height:68px;
}
#u88 {
  position:absolute;
  left:2px;
  top:26px;
  width:69px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:68px;
}
#u89 {
  position:absolute;
  left:902px;
  top:250px;
  width:86px;
  height:68px;
}
#u90 {
  position:absolute;
  left:2px;
  top:26px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:68px;
}
#u91 {
  position:absolute;
  left:988px;
  top:250px;
  width:188px;
  height:68px;
}
#u92 {
  position:absolute;
  left:2px;
  top:26px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:148px;
}
#u93 {
  position:absolute;
  left:0px;
  top:318px;
  width:98px;
  height:148px;
}
#u94 {
  position:absolute;
  left:2px;
  top:66px;
  width:94px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:148px;
}
#u95 {
  position:absolute;
  left:98px;
  top:318px;
  width:168px;
  height:148px;
  text-align:left;
}
#u96 {
  position:absolute;
  left:2px;
  top:66px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:148px;
}
#u97 {
  position:absolute;
  left:266px;
  top:318px;
  width:146px;
  height:148px;
  text-align:left;
}
#u98 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:148px;
}
#u99 {
  position:absolute;
  left:412px;
  top:318px;
  width:417px;
  height:148px;
  text-align:left;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:413px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:148px;
}
#u101 {
  position:absolute;
  left:829px;
  top:318px;
  width:73px;
  height:148px;
}
#u102 {
  position:absolute;
  left:2px;
  top:66px;
  width:69px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:148px;
}
#u103 {
  position:absolute;
  left:902px;
  top:318px;
  width:86px;
  height:148px;
}
#u104 {
  position:absolute;
  left:2px;
  top:66px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:148px;
}
#u105 {
  position:absolute;
  left:988px;
  top:318px;
  width:188px;
  height:148px;
}
#u106 {
  position:absolute;
  left:2px;
  top:66px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:148px;
}
#u107 {
  position:absolute;
  left:0px;
  top:466px;
  width:98px;
  height:148px;
}
#u108 {
  position:absolute;
  left:2px;
  top:66px;
  width:94px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:148px;
}
#u109 {
  position:absolute;
  left:98px;
  top:466px;
  width:168px;
  height:148px;
  text-align:left;
}
#u110 {
  position:absolute;
  left:2px;
  top:66px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:148px;
}
#u111 {
  position:absolute;
  left:266px;
  top:466px;
  width:146px;
  height:148px;
  text-align:left;
}
#u112 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:148px;
}
#u113 {
  position:absolute;
  left:412px;
  top:466px;
  width:417px;
  height:148px;
  text-align:left;
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:413px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:148px;
}
#u115 {
  position:absolute;
  left:829px;
  top:466px;
  width:73px;
  height:148px;
}
#u116 {
  position:absolute;
  left:2px;
  top:66px;
  width:69px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:148px;
}
#u117 {
  position:absolute;
  left:902px;
  top:466px;
  width:86px;
  height:148px;
}
#u118 {
  position:absolute;
  left:2px;
  top:66px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:148px;
}
#u119 {
  position:absolute;
  left:988px;
  top:466px;
  width:188px;
  height:148px;
}
#u120 {
  position:absolute;
  left:2px;
  top:66px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:49px;
}
#u121 {
  position:absolute;
  left:0px;
  top:614px;
  width:98px;
  height:49px;
}
#u122 {
  position:absolute;
  left:2px;
  top:16px;
  width:94px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:49px;
}
#u123 {
  position:absolute;
  left:98px;
  top:614px;
  width:168px;
  height:49px;
  text-align:left;
}
#u124 {
  position:absolute;
  left:2px;
  top:16px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:49px;
}
#u125 {
  position:absolute;
  left:266px;
  top:614px;
  width:146px;
  height:49px;
  text-align:left;
}
#u126 {
  position:absolute;
  left:2px;
  top:16px;
  width:142px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:49px;
}
#u127 {
  position:absolute;
  left:412px;
  top:614px;
  width:417px;
  height:49px;
  text-align:left;
}
#u128 {
  position:absolute;
  left:2px;
  top:16px;
  width:413px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:49px;
}
#u129 {
  position:absolute;
  left:829px;
  top:614px;
  width:73px;
  height:49px;
}
#u130 {
  position:absolute;
  left:2px;
  top:16px;
  width:69px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:49px;
}
#u131 {
  position:absolute;
  left:902px;
  top:614px;
  width:86px;
  height:49px;
}
#u132 {
  position:absolute;
  left:2px;
  top:16px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:49px;
}
#u133 {
  position:absolute;
  left:988px;
  top:614px;
  width:188px;
  height:49px;
}
#u134 {
  position:absolute;
  left:2px;
  top:16px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:52px;
}
#u135 {
  position:absolute;
  left:0px;
  top:663px;
  width:98px;
  height:52px;
}
#u136 {
  position:absolute;
  left:2px;
  top:18px;
  width:94px;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:52px;
}
#u137 {
  position:absolute;
  left:98px;
  top:663px;
  width:168px;
  height:52px;
  text-align:left;
}
#u138 {
  position:absolute;
  left:2px;
  top:18px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:52px;
}
#u139 {
  position:absolute;
  left:266px;
  top:663px;
  width:146px;
  height:52px;
  text-align:left;
}
#u140 {
  position:absolute;
  left:2px;
  top:18px;
  width:142px;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:52px;
}
#u141 {
  position:absolute;
  left:412px;
  top:663px;
  width:417px;
  height:52px;
  text-align:left;
}
#u142 {
  position:absolute;
  left:2px;
  top:10px;
  width:413px;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:52px;
}
#u143 {
  position:absolute;
  left:829px;
  top:663px;
  width:73px;
  height:52px;
}
#u144 {
  position:absolute;
  left:2px;
  top:18px;
  width:69px;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:52px;
}
#u145 {
  position:absolute;
  left:902px;
  top:663px;
  width:86px;
  height:52px;
}
#u146 {
  position:absolute;
  left:2px;
  top:18px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:52px;
}
#u147 {
  position:absolute;
  left:988px;
  top:663px;
  width:188px;
  height:52px;
}
#u148 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:52px;
}
#u149 {
  position:absolute;
  left:0px;
  top:715px;
  width:98px;
  height:52px;
}
#u150 {
  position:absolute;
  left:2px;
  top:18px;
  width:94px;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:52px;
}
#u151 {
  position:absolute;
  left:98px;
  top:715px;
  width:168px;
  height:52px;
  text-align:left;
}
#u152 {
  position:absolute;
  left:2px;
  top:18px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:52px;
}
#u153 {
  position:absolute;
  left:266px;
  top:715px;
  width:146px;
  height:52px;
  text-align:left;
}
#u154 {
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:52px;
}
#u155 {
  position:absolute;
  left:412px;
  top:715px;
  width:417px;
  height:52px;
}
#u156 {
  position:absolute;
  left:2px;
  top:18px;
  width:413px;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:52px;
}
#u157 {
  position:absolute;
  left:829px;
  top:715px;
  width:73px;
  height:52px;
}
#u158 {
  position:absolute;
  left:2px;
  top:18px;
  width:69px;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:52px;
}
#u159 {
  position:absolute;
  left:902px;
  top:715px;
  width:86px;
  height:52px;
}
#u160 {
  position:absolute;
  left:2px;
  top:18px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:52px;
}
#u161 {
  position:absolute;
  left:988px;
  top:715px;
  width:188px;
  height:52px;
}
#u162 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:52px;
}
#u163 {
  position:absolute;
  left:0px;
  top:767px;
  width:98px;
  height:52px;
}
#u164 {
  position:absolute;
  left:2px;
  top:18px;
  width:94px;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:52px;
}
#u165 {
  position:absolute;
  left:98px;
  top:767px;
  width:168px;
  height:52px;
  text-align:left;
}
#u166 {
  position:absolute;
  left:2px;
  top:18px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:52px;
}
#u167 {
  position:absolute;
  left:266px;
  top:767px;
  width:146px;
  height:52px;
  text-align:left;
}
#u168 {
  position:absolute;
  left:2px;
  top:18px;
  width:142px;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:52px;
}
#u169 {
  position:absolute;
  left:412px;
  top:767px;
  width:417px;
  height:52px;
}
#u170 {
  position:absolute;
  left:2px;
  top:18px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:52px;
}
#u171 {
  position:absolute;
  left:829px;
  top:767px;
  width:73px;
  height:52px;
}
#u172 {
  position:absolute;
  left:2px;
  top:18px;
  width:69px;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:52px;
}
#u173 {
  position:absolute;
  left:902px;
  top:767px;
  width:86px;
  height:52px;
}
#u174 {
  position:absolute;
  left:2px;
  top:18px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:52px;
}
#u175 {
  position:absolute;
  left:988px;
  top:767px;
  width:188px;
  height:52px;
}
#u176 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:52px;
}
#u177 {
  position:absolute;
  left:0px;
  top:819px;
  width:98px;
  height:52px;
}
#u178 {
  position:absolute;
  left:2px;
  top:18px;
  width:94px;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:52px;
}
#u179 {
  position:absolute;
  left:98px;
  top:819px;
  width:168px;
  height:52px;
  text-align:left;
}
#u180 {
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:52px;
}
#u181 {
  position:absolute;
  left:266px;
  top:819px;
  width:146px;
  height:52px;
  text-align:left;
}
#u182 {
  position:absolute;
  left:2px;
  top:18px;
  width:142px;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:52px;
}
#u183 {
  position:absolute;
  left:412px;
  top:819px;
  width:417px;
  height:52px;
}
#u184 {
  position:absolute;
  left:2px;
  top:18px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:52px;
}
#u185 {
  position:absolute;
  left:829px;
  top:819px;
  width:73px;
  height:52px;
}
#u186 {
  position:absolute;
  left:2px;
  top:18px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:52px;
}
#u187 {
  position:absolute;
  left:902px;
  top:819px;
  width:86px;
  height:52px;
}
#u188 {
  position:absolute;
  left:2px;
  top:18px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:52px;
}
#u189 {
  position:absolute;
  left:988px;
  top:819px;
  width:188px;
  height:52px;
}
#u190 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
