body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1457px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1457px;
  height:893px;
}
#u1028 {
  position:absolute;
  left:0px;
  top:0px;
  width:1457px;
  height:893px;
  font-size:12px;
  text-align:left;
  line-height:16px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:438px;
  width:1453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:256px;
  background:inherit;
  background-color:rgba(255, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:16px;
}
#u1030 {
  position:absolute;
  left:598px;
  top:400px;
  width:317px;
  height:256px;
  font-size:12px;
  line-height:16px;
}
#u1031 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u1032 {
  position:absolute;
  left:360px;
  top:478px;
  width:78px;
  height:25px;
}
#u1032_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
