body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1916px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1683px;
  height:676px;
}
#u2340 {
  position:absolute;
  left:0px;
  top:0px;
  width:1683px;
  height:676px;
}
#u2341 {
  position:absolute;
  left:2px;
  top:330px;
  width:1679px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u2342 {
  position:absolute;
  left:1548px;
  top:284px;
  width:104px;
  height:36px;
}
#u2343 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u2344 {
  position:absolute;
  left:424px;
  top:91px;
  width:60px;
  height:17px;
}
#u2345 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u2346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u2346 {
  position:absolute;
  left:350px;
  top:89px;
  width:72px;
  height:20px;
}
#u2347 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u2348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1697px;
  height:671px;
}
#u2348 {
  position:absolute;
  left:219px;
  top:123px;
  width:1697px;
  height:671px;
}
#u2349 {
  position:absolute;
  left:2px;
  top:328px;
  width:1693px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:661px;
}
#u2350 {
  position:absolute;
  left:1575px;
  top:178px;
  width:108px;
  height:661px;
}
#u2351 {
  position:absolute;
  left:2px;
  top:322px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:611px;
}
#u2352 {
  position:absolute;
  left:428px;
  top:188px;
  width:86px;
  height:611px;
}
#u2353 {
  position:absolute;
  left:2px;
  top:298px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:505px;
}
#u2354 {
  position:absolute;
  left:309px;
  top:180px;
  width:47px;
  height:505px;
}
#u2355 {
  position:absolute;
  left:2px;
  top:244px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:167px;
}
#u2356 {
  position:absolute;
  left:312px;
  top:623px;
  width:44px;
  height:167px;
}
#u2357 {
  position:absolute;
  left:2px;
  top:76px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:77px;
}
#u2358 {
  position:absolute;
  left:1398px;
  top:794px;
  width:463px;
  height:77px;
}
#u2359 {
  position:absolute;
  left:2px;
  top:30px;
  width:459px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:42px;
}
#u2360 {
  position:absolute;
  left:219px;
  top:819px;
  width:154px;
  height:42px;
}
#u2361 {
  position:absolute;
  left:2px;
  top:13px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
}
#u2362 {
  position:absolute;
  left:375px;
  top:822px;
  width:86px;
  height:37px;
}
#u2363 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
}
#u2364 {
  position:absolute;
  left:383px;
  top:828px;
  width:69px;
  height:26px;
  color:#FFFFFF;
}
#u2365 {
  position:absolute;
  left:2px;
  top:5px;
  width:65px;
  word-wrap:break-word;
}
#u2366 {
  position:absolute;
  left:226px;
  top:131px;
  width:302px;
  height:39px;
}
#u2366_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2366_input:disabled {
  color:grayText;
}
