body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1916px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1683px;
  height:676px;
}
#u5605 {
  position:absolute;
  left:0px;
  top:0px;
  width:1683px;
  height:676px;
}
#u5606 {
  position:absolute;
  left:2px;
  top:330px;
  width:1679px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u5607 {
  position:absolute;
  left:1548px;
  top:284px;
  width:104px;
  height:36px;
}
#u5608 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u5609 {
  position:absolute;
  left:424px;
  top:91px;
  width:60px;
  height:17px;
}
#u5610 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u5611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u5611 {
  position:absolute;
  left:350px;
  top:89px;
  width:72px;
  height:20px;
}
#u5612 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u5613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1697px;
  height:671px;
}
#u5613 {
  position:absolute;
  left:219px;
  top:123px;
  width:1697px;
  height:671px;
}
#u5614 {
  position:absolute;
  left:2px;
  top:328px;
  width:1693px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:661px;
}
#u5615 {
  position:absolute;
  left:1575px;
  top:178px;
  width:108px;
  height:661px;
}
#u5616 {
  position:absolute;
  left:2px;
  top:322px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:611px;
}
#u5617 {
  position:absolute;
  left:428px;
  top:188px;
  width:86px;
  height:611px;
}
#u5618 {
  position:absolute;
  left:2px;
  top:298px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:505px;
}
#u5619 {
  position:absolute;
  left:309px;
  top:180px;
  width:47px;
  height:505px;
}
#u5620 {
  position:absolute;
  left:2px;
  top:244px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:167px;
}
#u5621 {
  position:absolute;
  left:312px;
  top:623px;
  width:44px;
  height:167px;
}
#u5622 {
  position:absolute;
  left:2px;
  top:76px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:77px;
}
#u5623 {
  position:absolute;
  left:1398px;
  top:794px;
  width:463px;
  height:77px;
}
#u5624 {
  position:absolute;
  left:2px;
  top:30px;
  width:459px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:42px;
}
#u5625 {
  position:absolute;
  left:219px;
  top:819px;
  width:154px;
  height:42px;
}
#u5626 {
  position:absolute;
  left:2px;
  top:13px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
}
#u5627 {
  position:absolute;
  left:375px;
  top:822px;
  width:86px;
  height:37px;
}
#u5628 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
}
#u5629 {
  position:absolute;
  left:383px;
  top:828px;
  width:69px;
  height:26px;
  color:#FFFFFF;
}
#u5630 {
  position:absolute;
  left:2px;
  top:5px;
  width:65px;
  word-wrap:break-word;
}
#u5631 {
  position:absolute;
  left:226px;
  top:131px;
  width:302px;
  height:39px;
}
#u5631_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5631_input:disabled {
  color:grayText;
}
