body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:986px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:422px;
}
#u2138 {
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:422px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:203px;
  width:982px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:360px;
}
#u2140 {
  position:absolute;
  left:61px;
  top:54px;
  width:53px;
  height:360px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:172px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142 {
  position:absolute;
  left:74px;
  top:73px;
  width:20px;
  height:16px;
}
#u2143 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2144 {
  position:absolute;
  left:74px;
  top:135px;
  width:20px;
  height:16px;
}
#u2145 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2146 {
  position:absolute;
  left:74px;
  top:197px;
  width:20px;
  height:16px;
}
#u2147 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2148 {
  position:absolute;
  left:74px;
  top:258px;
  width:20px;
  height:16px;
}
#u2149 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2150 {
  position:absolute;
  left:74px;
  top:319px;
  width:20px;
  height:16px;
}
#u2151 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2152 {
  position:absolute;
  left:74px;
  top:380px;
  width:20px;
  height:16px;
}
#u2153 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2154 {
  position:absolute;
  left:488px;
  top:458px;
  width:114px;
  height:32px;
  color:#1E1E1E;
}
#u2155 {
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u2156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u2157 {
  position:absolute;
  left:351px;
  top:458px;
  width:120px;
  height:32px;
}
#u2158 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background:inherit;
  background-color:rgba(19, 193, 159, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2159 {
  position:absolute;
  left:372px;
  top:458px;
  width:79px;
  height:31px;
  color:#FFFFFF;
}
#u2160 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
