body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2354px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
}
#u970 {
  position:absolute;
  left:299px;
  top:99px;
  width:69px;
  height:33px;
}
#u971 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:745px;
}
#u972 {
  position:absolute;
  left:0px;
  top:1px;
  width:1905px;
  height:745px;
}
#u973 {
  position:absolute;
  left:2px;
  top:364px;
  width:1901px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:17px;
}
#u974 {
  position:absolute;
  left:1488px;
  top:198px;
  width:87px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u975 {
  position:absolute;
  left:2px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u976 {
  position:absolute;
  left:1716px;
  top:197px;
  width:80px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u977 {
  position:absolute;
  left:2px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:745px;
}
#u978 {
  position:absolute;
  left:1905px;
  top:0px;
  width:449px;
  height:745px;
}
#u979 {
  position:absolute;
  left:2px;
  top:364px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:26px;
}
#u980 {
  position:absolute;
  left:1788px;
  top:193px;
  width:72px;
  height:26px;
}
#u981 {
  position:absolute;
  left:2px;
  top:5px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:533px;
}
#u982 {
  position:absolute;
  left:1750px;
  top:225px;
  width:125px;
  height:533px;
}
#u983 {
  position:absolute;
  left:2px;
  top:258px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2060px;
  height:533px;
}
#u984 {
  position:absolute;
  left:250px;
  top:225px;
  width:2060px;
  height:533px;
}
#u985 {
  position:absolute;
  left:2px;
  top:258px;
  width:2056px;
  visibility:hidden;
  word-wrap:break-word;
}
