body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2354px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
}
#u424 {
  position:absolute;
  left:299px;
  top:99px;
  width:69px;
  height:33px;
}
#u425 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:745px;
}
#u426 {
  position:absolute;
  left:0px;
  top:1px;
  width:1905px;
  height:745px;
}
#u427 {
  position:absolute;
  left:2px;
  top:364px;
  width:1901px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:17px;
}
#u428 {
  position:absolute;
  left:1488px;
  top:198px;
  width:87px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u429 {
  position:absolute;
  left:2px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u430 {
  position:absolute;
  left:1716px;
  top:197px;
  width:80px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u431 {
  position:absolute;
  left:2px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:745px;
}
#u432 {
  position:absolute;
  left:1905px;
  top:0px;
  width:449px;
  height:745px;
}
#u433 {
  position:absolute;
  left:2px;
  top:364px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:26px;
}
#u434 {
  position:absolute;
  left:1788px;
  top:193px;
  width:72px;
  height:26px;
}
#u435 {
  position:absolute;
  left:2px;
  top:5px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:533px;
}
#u436 {
  position:absolute;
  left:1750px;
  top:225px;
  width:125px;
  height:533px;
}
#u437 {
  position:absolute;
  left:2px;
  top:258px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2060px;
  height:533px;
}
#u438 {
  position:absolute;
  left:250px;
  top:225px;
  width:2060px;
  height:533px;
}
#u439 {
  position:absolute;
  left:2px;
  top:258px;
  width:2056px;
  visibility:hidden;
  word-wrap:break-word;
}
