body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2354px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
}
#u410 {
  position:absolute;
  left:299px;
  top:99px;
  width:69px;
  height:33px;
}
#u411 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:745px;
}
#u412 {
  position:absolute;
  left:0px;
  top:1px;
  width:1905px;
  height:745px;
}
#u413 {
  position:absolute;
  left:2px;
  top:364px;
  width:1901px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:17px;
}
#u414 {
  position:absolute;
  left:1488px;
  top:198px;
  width:87px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u415 {
  position:absolute;
  left:2px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u416 {
  position:absolute;
  left:1716px;
  top:197px;
  width:80px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u417 {
  position:absolute;
  left:2px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:745px;
}
#u418 {
  position:absolute;
  left:1905px;
  top:0px;
  width:449px;
  height:745px;
}
#u419 {
  position:absolute;
  left:2px;
  top:364px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:26px;
}
#u420 {
  position:absolute;
  left:1788px;
  top:193px;
  width:72px;
  height:26px;
}
#u421 {
  position:absolute;
  left:2px;
  top:5px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:533px;
}
#u422 {
  position:absolute;
  left:1750px;
  top:225px;
  width:125px;
  height:533px;
}
#u423 {
  position:absolute;
  left:2px;
  top:258px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2060px;
  height:533px;
}
#u424 {
  position:absolute;
  left:250px;
  top:225px;
  width:2060px;
  height:533px;
}
#u425 {
  position:absolute;
  left:2px;
  top:258px;
  width:2056px;
  visibility:hidden;
  word-wrap:break-word;
}
