body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1905px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:813px;
}
#u2202 {
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:813px;
}
#u2203 {
  position:absolute;
  left:2px;
  top:398px;
  width:1901px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2202_ann {
  position:absolute;
  left:1898px;
  top:-4px;
  width:1px;
  height:1px;
}
#u2204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2204 {
  position:absolute;
  left:1678px;
  top:195px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2205 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2206 {
  position:absolute;
  left:1786px;
  top:195px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2207 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
