body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1904px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1904px;
  height:911px;
}
#u6114 {
  position:absolute;
  left:0px;
  top:0px;
  width:1904px;
  height:911px;
}
#u6115 {
  position:absolute;
  left:2px;
  top:448px;
  width:1900px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:33px;
}
#u6116 {
  position:absolute;
  left:1626px;
  top:129px;
  width:59px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6117 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u6118 {
  position:absolute;
  left:1632px;
  top:174px;
  width:70px;
  height:25px;
}
#u6118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:585px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6119 {
  position:absolute;
  left:1090px;
  top:277px;
  width:266px;
  height:585px;
}
#u6120 {
  position:absolute;
  left:10px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
