body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1005px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:728px;
}
#u2282 {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:728px;
}
#u2283 {
  position:absolute;
  left:2px;
  top:356px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2284 {
  position:absolute;
  left:69px;
  top:121px;
  width:17px;
  height:16px;
}
#u2285 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2284_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2286 {
  position:absolute;
  left:68px;
  top:166px;
  width:17px;
  height:16px;
}
#u2287 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2286_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2288 {
  position:absolute;
  left:68px;
  top:207px;
  width:17px;
  height:16px;
}
#u2289 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2288_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2290 {
  position:absolute;
  left:68px;
  top:246px;
  width:17px;
  height:16px;
}
#u2291 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2290_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2292 {
  position:absolute;
  left:68px;
  top:286px;
  width:17px;
  height:16px;
}
#u2293 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2292_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2294 {
  position:absolute;
  left:68px;
  top:325px;
  width:17px;
  height:16px;
}
#u2295 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2294_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2296 {
  position:absolute;
  left:68px;
  top:365px;
  width:17px;
  height:16px;
}
#u2297 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2296_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2298 {
  position:absolute;
  left:68px;
  top:406px;
  width:17px;
  height:16px;
}
#u2299 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2298_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2300 {
  position:absolute;
  left:68px;
  top:446px;
  width:17px;
  height:16px;
}
#u2301 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2300_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2302 {
  position:absolute;
  left:68px;
  top:485px;
  width:17px;
  height:16px;
}
#u2303 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2302_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2304 {
  position:absolute;
  left:68px;
  top:524px;
  width:17px;
  height:16px;
}
#u2305 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2304_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2306 {
  position:absolute;
  left:68px;
  top:566px;
  width:17px;
  height:16px;
}
#u2307 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2306_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2308 {
  position:absolute;
  left:68px;
  top:604px;
  width:17px;
  height:16px;
}
#u2309 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2308_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:39px;
}
#u2310 {
  position:absolute;
  left:11px;
  top:59px;
  width:508px;
  height:39px;
}
#u2311 {
  position:absolute;
  left:2px;
  top:12px;
  width:504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:39px;
}
#u2312 {
  position:absolute;
  left:519px;
  top:58px;
  width:157px;
  height:39px;
}
#u2313 {
  position:absolute;
  left:2px;
  top:12px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
}
#u2314 {
  position:absolute;
  left:458px;
  top:644px;
  width:93px;
  height:33px;
  color:#FFFFFF;
}
#u2315 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
