body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1005px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:728px;
}
#u2171 {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:728px;
}
#u2172 {
  position:absolute;
  left:2px;
  top:356px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173 {
  position:absolute;
  left:69px;
  top:121px;
  width:17px;
  height:16px;
}
#u2174 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2175 {
  position:absolute;
  left:68px;
  top:166px;
  width:17px;
  height:16px;
}
#u2176 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2175_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2177 {
  position:absolute;
  left:68px;
  top:207px;
  width:17px;
  height:16px;
}
#u2178 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2179 {
  position:absolute;
  left:68px;
  top:246px;
  width:17px;
  height:16px;
}
#u2180 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2179_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2181 {
  position:absolute;
  left:68px;
  top:286px;
  width:17px;
  height:16px;
}
#u2182 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2183 {
  position:absolute;
  left:68px;
  top:325px;
  width:17px;
  height:16px;
}
#u2184 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2185 {
  position:absolute;
  left:68px;
  top:365px;
  width:17px;
  height:16px;
}
#u2186 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2187 {
  position:absolute;
  left:68px;
  top:406px;
  width:17px;
  height:16px;
}
#u2188 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2189 {
  position:absolute;
  left:68px;
  top:446px;
  width:17px;
  height:16px;
}
#u2190 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2189_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2191 {
  position:absolute;
  left:68px;
  top:485px;
  width:17px;
  height:16px;
}
#u2192 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2191_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2193 {
  position:absolute;
  left:68px;
  top:524px;
  width:17px;
  height:16px;
}
#u2194 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2195 {
  position:absolute;
  left:68px;
  top:566px;
  width:17px;
  height:16px;
}
#u2196 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2197 {
  position:absolute;
  left:68px;
  top:604px;
  width:17px;
  height:16px;
}
#u2198 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:39px;
}
#u2199 {
  position:absolute;
  left:11px;
  top:59px;
  width:508px;
  height:39px;
}
#u2200 {
  position:absolute;
  left:2px;
  top:12px;
  width:504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:39px;
}
#u2201 {
  position:absolute;
  left:519px;
  top:58px;
  width:157px;
  height:39px;
}
#u2202 {
  position:absolute;
  left:2px;
  top:12px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
}
#u2203 {
  position:absolute;
  left:458px;
  top:644px;
  width:93px;
  height:33px;
  color:#FFFFFF;
}
#u2204 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
