body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1005px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:728px;
}
#u2196 {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:728px;
}
#u2197 {
  position:absolute;
  left:2px;
  top:356px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198 {
  position:absolute;
  left:69px;
  top:121px;
  width:17px;
  height:16px;
}
#u2199 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2200 {
  position:absolute;
  left:68px;
  top:166px;
  width:17px;
  height:16px;
}
#u2201 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2202 {
  position:absolute;
  left:68px;
  top:207px;
  width:17px;
  height:16px;
}
#u2203 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2202_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2204 {
  position:absolute;
  left:68px;
  top:246px;
  width:17px;
  height:16px;
}
#u2205 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2206 {
  position:absolute;
  left:68px;
  top:286px;
  width:17px;
  height:16px;
}
#u2207 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2208 {
  position:absolute;
  left:68px;
  top:325px;
  width:17px;
  height:16px;
}
#u2209 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2210 {
  position:absolute;
  left:68px;
  top:365px;
  width:17px;
  height:16px;
}
#u2211 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2212 {
  position:absolute;
  left:68px;
  top:406px;
  width:17px;
  height:16px;
}
#u2213 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2212_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2214 {
  position:absolute;
  left:68px;
  top:446px;
  width:17px;
  height:16px;
}
#u2215 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2214_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2216 {
  position:absolute;
  left:68px;
  top:485px;
  width:17px;
  height:16px;
}
#u2217 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2216_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2218 {
  position:absolute;
  left:68px;
  top:524px;
  width:17px;
  height:16px;
}
#u2219 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2218_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2220 {
  position:absolute;
  left:68px;
  top:566px;
  width:17px;
  height:16px;
}
#u2221 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2220_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2222 {
  position:absolute;
  left:68px;
  top:604px;
  width:17px;
  height:16px;
}
#u2223 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:39px;
}
#u2224 {
  position:absolute;
  left:11px;
  top:59px;
  width:508px;
  height:39px;
}
#u2225 {
  position:absolute;
  left:2px;
  top:12px;
  width:504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:39px;
}
#u2226 {
  position:absolute;
  left:519px;
  top:58px;
  width:157px;
  height:39px;
}
#u2227 {
  position:absolute;
  left:2px;
  top:12px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
}
#u2228 {
  position:absolute;
  left:458px;
  top:644px;
  width:93px;
  height:33px;
  color:#FFFFFF;
}
#u2229 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
