body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1610px;
  height:900px;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:1610px;
  height:900px;
}
#u965 {
  position:absolute;
  left:2px;
  top:442px;
  width:1606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:669px;
}
#u966 {
  position:absolute;
  left:173px;
  top:148px;
  width:850px;
  height:669px;
}
#u967 {
  position:absolute;
  left:2px;
  top:326px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_ann {
  position:absolute;
  left:1016px;
  top:144px;
  width:1px;
  height:1px;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u968 {
  position:absolute;
  left:195px;
  top:154px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u970 {
  position:absolute;
  left:195px;
  top:180px;
  width:433px;
  height:23px;
  text-align:left;
}
#u971 {
  position:absolute;
  left:2px;
  top:4px;
  width:429px;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:31px;
}
#u972 {
  position:absolute;
  left:195px;
  top:213px;
  width:102px;
  height:31px;
}
#u973 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u974 {
  position:absolute;
  left:307px;
  top:217px;
  width:284px;
  height:25px;
}
#u974_input {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
}
#u975 {
  position:absolute;
  left:213px;
  top:250px;
  width:92px;
  height:31px;
}
#u976 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u977 {
  position:absolute;
  left:394px;
  top:359px;
  width:84px;
  height:20px;
}
#u977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u978 {
  position:absolute;
  left:431px;
  top:393px;
  width:40px;
  height:20px;
}
#u978_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u979 {
  position:absolute;
  left:503px;
  top:368px;
  width:56px;
  height:20px;
}
#u979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
}
#u980 {
  position:absolute;
  left:177px;
  top:849px;
  width:115px;
  height:33px;
}
#u981 {
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982 {
  position:absolute;
  left:305px;
  top:256px;
  width:111px;
  height:22px;
}
#u982_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u982_input:disabled {
  color:grayText;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
}
#u983 {
  position:absolute;
  left:201px;
  top:464px;
  width:92px;
  height:31px;
}
#u984 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u986 {
  position:absolute;
  left:293px;
  top:457px;
  width:528px;
  height:159px;
  font-size:14px;
}
#u987 {
  position:absolute;
  left:2px;
  top:72px;
  width:524px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988 {
  position:absolute;
  left:316px;
  top:479px;
  width:100px;
  height:16px;
}
#u989 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u988_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u990 {
  position:absolute;
  left:316px;
  top:515px;
  width:15px;
  height:16px;
}
#u991 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u992 {
  position:absolute;
  left:330px;
  top:552px;
  width:221px;
  height:16px;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:2px;
}
#u994 {
  position:absolute;
  left:385px;
  top:494px;
  width:84px;
  height:1px;
}
#u995 {
  position:absolute;
  left:2px;
  top:-8px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u996 {
  position:absolute;
  left:330px;
  top:587px;
  width:89px;
  height:16px;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u998 {
  position:absolute;
  left:420px;
  top:580px;
  width:40px;
  height:20px;
}
#u998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u999 {
  position:absolute;
  left:460px;
  top:587px;
  width:43px;
  height:16px;
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:2px;
}
#u1001 {
  position:absolute;
  left:414px;
  top:602px;
  width:48px;
  height:1px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:-8px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003 {
  position:absolute;
  left:408px;
  top:509px;
  width:40px;
  height:20px;
}
#u1003_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1004 {
  position:absolute;
  left:336px;
  top:515px;
  width:71px;
  height:16px;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:2px;
}
#u1006 {
  position:absolute;
  left:408px;
  top:528px;
  width:47px;
  height:1px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:-8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1008 {
  position:absolute;
  left:459px;
  top:513px;
  width:29px;
  height:16px;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:2px;
}
#u1010 {
  position:absolute;
  left:504px;
  top:602px;
  width:48px;
  height:1px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:-8px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012 {
  position:absolute;
  left:435px;
  top:253px;
  width:536px;
  height:375px;
  overflow:hidden;
  visibility:hidden;
}
#u1012_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:375px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1012_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:326px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1014 {
  position:absolute;
  left:2px;
  top:30px;
  width:525px;
  height:326px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:155px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016 {
  position:absolute;
  left:39px;
  top:40px;
  width:86px;
  height:16px;
}
#u1017 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u1016_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1018 {
  position:absolute;
  left:39px;
  top:165px;
  width:86px;
  height:16px;
}
#u1019 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u1018_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1020 {
  position:absolute;
  left:65px;
  top:66px;
  width:86px;
  height:16px;
}
#u1021 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u1020_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1022 {
  position:absolute;
  left:89px;
  top:92px;
  width:86px;
  height:16px;
}
#u1023 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u1022_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1024 {
  position:absolute;
  left:89px;
  top:118px;
  width:86px;
  height:16px;
}
#u1025 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u1024_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1026 {
  position:absolute;
  left:65px;
  top:190px;
  width:86px;
  height:16px;
}
#u1027 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u1026_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1028 {
  position:absolute;
  left:89px;
  top:216px;
  width:86px;
  height:16px;
}
#u1029 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u1028_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1030 {
  position:absolute;
  left:89px;
  top:144px;
  width:86px;
  height:16px;
}
#u1031 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u1030_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1032 {
  position:absolute;
  left:89px;
  top:242px;
  width:86px;
  height:16px;
}
#u1033 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u1032_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1034 {
  position:absolute;
  left:89px;
  top:267px;
  width:86px;
  height:16px;
}
#u1035 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u1034_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1036 {
  position:absolute;
  left:89px;
  top:293px;
  width:86px;
  height:16px;
}
#u1037 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u1036_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:30px;
  background:inherit;
  background-color:rgba(251, 252, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1038 {
  position:absolute;
  left:2px;
  top:1px;
  width:525px;
  height:30px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:7px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1040 {
  position:absolute;
  left:19px;
  top:7px;
  width:161px;
  height:19px;
  font-size:16px;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:27px;
  background:inherit;
  background-color:rgba(19, 193, 159, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1042 {
  position:absolute;
  left:230px;
  top:317px;
  width:85px;
  height:27px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u1012_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:375px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1012_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
