body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1610px;
  height:900px;
}
#u1216 {
  position:absolute;
  left:10px;
  top:0px;
  width:1610px;
  height:900px;
}
#u1217 {
  position:absolute;
  left:2px;
  top:442px;
  width:1606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216_ann {
  position:absolute;
  left:1613px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:171px;
}
#u1218 {
  position:absolute;
  left:179px;
  top:147px;
  width:430px;
  height:171px;
}
#u1219 {
  position:absolute;
  left:2px;
  top:78px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1439px;
  height:236px;
}
#u1221 {
  position:absolute;
  left:163px;
  top:183px;
  width:1439px;
  height:236px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:110px;
  width:1435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
}
#u1223 {
  position:absolute;
  left:340px;
  top:231px;
  width:106px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u1223_ann {
  position:absolute;
  left:439px;
  top:227px;
  width:1px;
  height:1px;
}
#u1225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
}
#u1225 {
  position:absolute;
  left:532px;
  top:232px;
  width:106px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
}
#u1227 {
  position:absolute;
  left:836px;
  top:232px;
  width:106px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:23px;
}
#u1229 {
  position:absolute;
  left:1569px;
  top:268px;
  width:33px;
  height:23px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_ann {
  position:absolute;
  left:1595px;
  top:264px;
  width:1px;
  height:1px;
}
#u1231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1308px;
  height:31px;
}
#u1231 {
  position:absolute;
  left:229px;
  top:268px;
  width:1308px;
  height:31px;
}
#u1232 {
  position:absolute;
  left:2px;
  top:8px;
  width:1304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1308px;
  height:31px;
}
#u1233 {
  position:absolute;
  left:229px;
  top:305px;
  width:1308px;
  height:31px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:8px;
  width:1304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1308px;
  height:31px;
}
#u1235 {
  position:absolute;
  left:229px;
  top:343px;
  width:1308px;
  height:31px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:8px;
  width:1304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1308px;
  height:31px;
}
#u1237 {
  position:absolute;
  left:235px;
  top:384px;
  width:1308px;
  height:31px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:8px;
  width:1304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:25px;
}
#u1239 {
  position:absolute;
  left:1115px;
  top:235px;
  width:487px;
  height:25px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:4px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:23px;
}
#u1241 {
  position:absolute;
  left:182px;
  top:236px;
  width:126px;
  height:23px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:4px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1243 {
  position:absolute;
  left:244px;
  top:239px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1244 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:149px;
}
#u1245 {
  position:absolute;
  left:236px;
  top:263px;
  width:45px;
  height:149px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:66px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1247 {
  position:absolute;
  left:363px;
  top:274px;
  width:43px;
  height:16px;
}
#u1248 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1249 {
  position:absolute;
  left:558px;
  top:274px;
  width:99px;
  height:16px;
}
#u1250 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1251 {
  position:absolute;
  left:856px;
  top:352px;
  width:95px;
  height:16px;
}
#u1252 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u1253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1253 {
  position:absolute;
  left:1570px;
  top:240px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1254 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1255 {
  position:absolute;
  left:363px;
  top:312px;
  width:43px;
  height:16px;
}
#u1256 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1257 {
  position:absolute;
  left:558px;
  top:313px;
  width:113px;
  height:16px;
}
#u1258 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1259 {
  position:absolute;
  left:857px;
  top:311px;
  width:87px;
  height:16px;
}
#u1260 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u1261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1261 {
  position:absolute;
  left:363px;
  top:351px;
  width:43px;
  height:16px;
}
#u1262 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1263 {
  position:absolute;
  left:558px;
  top:352px;
  width:71px;
  height:16px;
}
#u1264 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1265 {
  position:absolute;
  left:857px;
  top:274px;
  width:87px;
  height:16px;
}
#u1266 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u1267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
}
#u1267 {
  position:absolute;
  left:1126px;
  top:232px;
  width:106px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1268 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u1269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1269 {
  position:absolute;
  left:1158px;
  top:274px;
  width:43px;
  height:16px;
}
#u1270 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:32px;
}
#u1271 {
  position:absolute;
  left:163px;
  top:189px;
  width:319px;
  height:32px;
}
#u1272 {
  position:absolute;
  left:2px;
  top:8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:37px;
}
#u1273 {
  position:absolute;
  left:163px;
  top:189px;
  width:494px;
  height:37px;
}
#u1274 {
  position:absolute;
  left:2px;
  top:10px;
  width:490px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:29px;
  background:inherit;
  background-color:rgba(19, 193, 159, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1275 {
  position:absolute;
  left:179px;
  top:168px;
  width:99px;
  height:29px;
}
#u1276 {
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u1277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:41px;
}
#u1277 {
  position:absolute;
  left:1479px;
  top:183px;
  width:120px;
  height:41px;
}
#u1278 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:147px;
}
#u1279 {
  position:absolute;
  left:164px;
  top:266px;
  width:76px;
  height:147px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:66px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1281 {
  position:absolute;
  left:1158px;
  top:311px;
  width:43px;
  height:16px;
}
#u1282 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1283 {
  position:absolute;
  left:1158px;
  top:352px;
  width:43px;
  height:16px;
}
#u1284 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u1285 {
  position:absolute;
  left:313px;
  top:101px;
  width:63px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1286 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u1287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 250, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#F5A037;
}
#u1287 {
  position:absolute;
  left:27px;
  top:143px;
  width:90px;
  height:31px;
  font-size:15px;
  color:#F5A037;
}
#u1288 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
